.Overview {
  display: flex;
  grid-template-columns: 25% 25% 25% 25%;
  //   flex
  justify-content: center;
  height: 100vh;
  flex: 1;

  > div {
    flex: 0.5;
    border-right: 3px solid #000;
    &:first-child,
    &:last-child {
      flex: 0.25;
      display: flex;
    }
  }

  &-multiView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;

    &-content {
      display: flex;
      width: calc(100% / 3);
      flex-direction: column;
      align-items: center;
      margin-top: 35px;

      &.isLast {
        width: 100% !important;
      }

      //   padding-top: 30px;
    }
  }

  &-card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-template-rows: 10% 90%;
    align-items: center;
    overflow: auto;

    &-title {
      font-size: 32px;
      font-weight: bold;
      text-align: center;

      span {
        font-size: 18px;
        font-weight: normal;
      }
    }

    &-number {
      display: flex;
      justify-content: center;
      padding-top: 80px;
      flex-direction: column;
      width: 100%;
      // overflow-y: auto;

      &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
      }

      &-table {
        background-color: #37b39c;
        padding: 10px;
        font-weight: bold;
        font-size: 24px;
        top: -25px;
        position: absolute;
        left: -10px;
        border: none;
        color: #fff;
      }

      &-count {
        font-size: 100px;
        background-color: #d45151;
        height: 150px;
        width: 150px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: #fff;
        font-weight: bold;
        flex-direction: column;
        // box-shadow: 0px 0px 3px #000;
      }

      &-name {
        font-size: 18px;
        text-align: center;
        display: block;
        margin-top: 10px;
        padding: 10px;
      }
    }

    &-next {
      margin: 20px 30px;
      &-line {
        font-size: 18px;
      }

      &-view {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      &-number {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &.isVertical {
          flex-direction: column;
        }

        span {
          font-size: 24px;
          font-weight: bold;
        }

        &-que {
          display: flex;
          height: 60px;
          width: 60px;
          border-radius: 40px;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
          margin-top: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
