.Form {

    &-group {
        margin-bottom: 15px;
        &-input {
            min-height: 40px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            outline: none;
            font-size: 14px;
            min-height: 40px;
            border-radius: 2px;
            border: none;
        }

        &-textarea {
            @extend .Form-group-input;
            min-height: 100px;
            padding: 30px 10px;
            font-family: inherit;
        }

        &-btn {
            padding: 10px 30px;
            border: none;
            border-radius: 2px;
            text-align: right;
            float: right;
            background: #d44638;
            color: #fff;
            font-size: 16px;

            &:disabled {
                background: #a02222;
                color: #541a1a;
            }
        }
    }
   

    
}