.Container {
  // max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  &-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
  }

  .Header {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 80px;
    border-bottom: 1px solid #eee;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;

    &-logo {
      font-size: 24px;
      letter-spacing: 5px;

      &-btn {
        display: none;
      }
    }

    &-nav {
      display: grid;
      justify-content: flex-end;

      &-close {
        display: none;
      }

      ul {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 80px);
        list-style-type: none;
        grid-column-gap: 10px;

        li {
          text-align: center;
          padding: 10px 0;

          &.isActive,
          &:hover {
            background-color: #1976d2;
            color: #fff;
            border-radius: 2px;
            cursor: pointer;
          }

          > a {
            display: block;
          }
        }
      }

      &.isNavOpen {
        display: inline-block;
        position: fixed;
        background: #f3f0f0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 70%;
        box-sizing: border-box;
        z-index: 3;

        ul {
          padding: 10px;
          grid-template-columns: 100%;
          grid-row-gap: 20px;
        }

        .Header-nav-close {
          display: grid;
          align-items: flex-end;
          justify-content: flex-end;
          text-align: left;
          padding: 10px;

          > button {
            font-size: 24px;
            border: none;
            background-color: transparent;
          }
        }
      }
    }

    @media screen and (max-width: 600px) { 
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      padding: 0 20px;

      &-logo {
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
        grid-column-gap: 10px;

        &-btn {
          display: inline;
          outline: none;
          padding: 5px 0;
          border-radius: 3px;
          background-color: transparent;
          border: none;

          &-icon {
            font-size: 24px;
          }

          &:hover {
            background: #e0e0e0;
            border: none;
          }
        }
      }

      &-nav {
        display: none;
      }
    }
  }

  .Home {
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: calc(100vh - 81px);
    box-sizing: border-box;
    // padding: 0 100px;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
      grid-template-columns: 100%;
      min-height: auto;
      grid-template-rows: calc(100vh - 250px) 50vh;
    }

    &-left {
      box-sizing: border-box;
      display: grid;
      align-items: center;
      background-color: #da9855;
      justify-content: center;
      grid-template-rows: 80% 20%;

     img {
        width: 100%;
      }

      > div {
        font-size: 30px;
        text-align: center;
        color: #fff;
        text-shadow: 0px 1px 1px #000;
      }

      @media screen and (max-width: 600px) {
        grid-row: 2;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        padding: 20px;

        > div {
          padding: 0 10px;
          font-size: 24px;
        }
      }
    }

    &-right {
      display: grid;
      align-items: center;
      padding: 50px;
      background-color: #eaeaea;
      grid-template-rows: 50% 50%;

      &-info {
        display: grid;
        align-items: flex-end;
        height: 100%;
        padding: 20px 0;
        box-sizing: border-box;

        &-label {
          font-size: 24px;

          &-name {
            font-size: 70px;
            color: #da9855;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }
      }

      &-social {
        display: grid;
        align-items: flex-start;
        height: 100%;

        > ul {
          list-style-type: none;
          display: grid;
          margin: 0;
          padding: 0;
          grid-template-columns: repeat(4, 50px);
          font-size: 45px;
          grid-column-gap: 15px;
          text-align: center;

          > li,
          a {
            color: #d69f67;
            border-radius: 3px;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 4px #ddd;
            border: 1px solid #ddd;
            cursor: pointer;
            background-color: #fff;

            &:hover {
              background-color: #d69f67;
              color: #fff;
              border-color: #d69f67;
            }
          }
        }
      }

      @media screen and (max-width: 600px) {

        padding: 50px 40px;

        &-social {
          align-items: flex-end;
        }
      }
    }
  }

  .Project {
    min-height: calc(100vh - 50px);
    padding: 100px;
    box-sizing: border-box;



    &-header {
      font-size: 24px;
    }

    &-content {
      display: grid;
      justify-content: center;
      grid-template-columns: 100%;

      &-tab {
        display: grid;
        justify-content: center;
        align-items: center;

        > ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(2, 120px);
          text-align: center;
          grid-column-gap: 20px;

          > li {
            padding: 10px 0;
            color: #da9855;
            font-weight: bold;
            border: 2px solid #da9855;
            border-radius: 20px;
            cursor: pointer;

            &.isActive,
            &:hover {
              background-color: #da9855;
              color: #fff;
            }
          }
        }
      }

      &-items {
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(3, 32%);
        justify-content: space-between;
        align-items: flex-start;
        grid-row-gap: 20px;
        box-sizing: border-box;
        padding: 10px;

        &-card {
          min-height: 300px;
          width: 100%;
          border-radius: 2px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          display: grid;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          padding: 10px;
          box-sizing: border-box;

          img {
            width: 100%;
          }

          &.isMobile {
            background: #f1f1f1;
            grid-row-gap: 20px;

            img {
              width: auto;
              box-shadow: 0px 5px 6px #ddd;
            }
          }

          &-title {
            font-size: 18px;
            color: #5d5d5d;
          }

          > .Card-overlap {
            display: none;
          }

          &:hover,
          &.isSoon {
            > .Card-overlap {
              display: flex;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.7);
              height: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
              border-radius: 2px;
              box-shadow: 0px 0px 3px #e0e0e0;
              text-align: center;
              padding: 10px;
              box-sizing: border-box;
              flex-direction: column;
              box-shadow: 0px 0px 3px #e0e0e0;

              .Card-overlap-name {
                font-size: 24px;
                color: #fff;
              }

              > button {
                padding: 10px 40px;
                border: none;
                border-radius: 20px;
                background-color: #fff;
                color: #da9855;
                font-size: 18px;
                cursor: pointer;
                margin-top: 10px;

                &:hover {
                  color: #fff;
                  background-color: #da9855;
                }

                > span {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding: 50px 20px;

      &-header {
        margin-bottom: 20px;
      }

      &-content {
        &-items {
          grid-template-columns: 100%;

          &-card {
            &:nth-child(4), &:nth-child(5), &:nth-child(6){
              display: none;
            }

            &.isMobile {
              > img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .About {
    @extend .Project;
    background: #efefef;

    &-header {
      @extend .Project-header;
    }

    &-content {
      display: grid;
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      box-sizing: border-box;
      margin-top: 50px;
      grid-column-gap: 10px;

      &-title {
        font-size: 22px;
        margin-bottom: 30px;
        color: #5f5555;
      }

      &-left {
        > ul {
          font-size: 18px;
          > li {
            padding: 10px 0;

            .text-bold {
              font-weight: bold;
            }

            > ul {
              > li {
                padding: 10px;

                .label-info {
                  font-weight: bold;
                  color: #da9855;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .Experience {
          margin-bottom: 30px;
          color: #5f5555;
          letter-spacing: 0.5px;
          line-height: 20px;

          > span {
            font-size: 14px;
            display: block;

            &:nth-child(2) {
              color: #000;
            }

            &:nth-child(1) {
              font-size: 16px;
              color: #000;
            }
          }
        }
      }

      &-right {
        &-skills {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          span {
            padding: 10px 20px;
            background: #da9854;
            border-radius: 23px;
            margin: 0 10px 10px 0;
            cursor: pointer;
            color: #fff;
            box-sizing: border-box;

            &:hover {
              box-shadow: 0px 3px 6px rgba(142, 134, 134, 0.92);
              font-weight: bold;
            }
          }
        }
      }
    }

    @media screen and (max-width: 600px) { 
      &-content {
        grid-template-columns: 100%;
        
        &-left, &-right {
          padding: 20px;
          box-sizing: border-box;
        }
      }
    }
  }

  .Contact {
    @extend .Project;
    background: #000;
    color: #fff;
    min-height: auto;

    &-header {
      @extend .Project-header;
    }

    &-content {
      margin-top: 50px;
      display: grid;
      grid-template-columns: calc(50% - 50px) calc(50% - 50px);
      grid-column-gap: 100px;

      &-info {
        // display: grid;

        > ul {
          list-style: none;
          padding: 0;
          margin: 0;
  
          > li {
            padding: 10px 0;
            display: grid;
            align-items: center;
            grid-template-columns: 50px auto;
  
            > span {
              font-size: 18px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 600px) { 
      &-content {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        grid-column-gap: 0px;

        &-info {
          grid-row: 1;
          border-bottom: 2px solid #4c4c4c;
          padding-bottom: 20px;
          margin-bottom: 20px;

          > ul {
            > li {
              grid-template-columns: 40px auto;
              align-items: center;
              justify-content: flex-start;
              grid-column-gap: 20px;
            }
          }
        }
      }
    }

  }
}
